<ion-header no-border>
  <ion-toolbar color="dark">

    <ion-buttons>
      <ion-button (click)="regresar()">
        <ion-icon color="warning" slot="icon-only" name="caret-back">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <iframe width="100%" height="100%" [src]="url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</ion-content>
