ion-content {
    --background: url('../../assets/img/fondo-login.png') 0 0/100% 100% no-repeat !important;
}

.contenido-login {
    width: 85%;
    margin: 200px auto 0 auto;
}

.contenido-formulario {
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.powerbi {
    margin-top: 50px;
    text-align: center;
    
}

.powerbi img {
    width: 50%;
}

.errorBlancos {
    background-color: rgb(168, 12, 12) !important;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}

.errorIncorrectos {
    background-color: rgb(235, 175, 97) !important;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}

p {
    font-size: 12px;
    font-weight: bold;
}



// ion-item {
//     border-radius: 20px;
// }

// .btn_eye_icon{
//     position: absolute;
//     right: 0;
//     bottom: 4px;
//     background: transparent;
//     ion-icon{
//         font-size: 22px;
//         color:#757575;
//     }
// }
// .btn_eye_icon:focus{
//     outline: none  !important;
// }