ion-note {
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: #222428;
    color: white;
    padding: 10px;
}

.separacion {
    background-color:#222428;
    height: 20px;
}

ion-content, ion-list {
    border: 2px solid #222428 !important;
}

img {
    width: 60%;
}

